<!doctype html>
<html lang="en">
<head>
   	<meta charset="utf-8">
   	<title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" 
    href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" 
          href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" 
    integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"      crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" 
    href="{% static 'builder/main.css' %}"/>
</head>
<body>
	{% include "builder/includes/header.html" %}
{% block body %}
{% endblock %}
	{% include "builder/includes/footer.html" %}
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous">
  </script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

  <script type="text/javascript" src="{% static 'builder/js/slideshow.js' %}">
    
  </script>  
</body>
</html>