.border {
	width: 50%;
	height: 500px;
	margin: 50px auto;
	overflow:hidden;
	
	background-color: @gray-dark;

	.contactform {
		width: 75%;
		margin: 50px auto;
		padding: 0;
		
		text-align: center;
		background-color: white;

	}
}