.border {
	max-width: 1200px;
	width: 100%;
	margin: 50px auto;
	box-sizing: border-box;
	padding: 5px 5px;
	
	background-color: @gray-dark;
	
	@media (min-width: 801px) {
		.contactform {
			padding: 30px;
			
			textarea, input {
				padding: 10px 20px;
			}
		}

		.row {
			.clearfix;

			@spacing: 20px;
			.field {
				float: left;
				width: calc(50% - (@spacing / 2));

				+ .field {
					margin-left: @spacing;
				}
			}
		}
	}
	@media (max-width: 800px){
		.contactform {
			padding: 30px 10px;
			
			textarea, input {
				padding: 10px 5px;
			}
		}
		.row .field {
			width: 100%;
		}
	}

	.contact-image {
		max-width: 650px;
		width: 100%;
		margin: 0 auto;
		overflow: hidden;

		img {
			display: block;
			position:relative;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	.contactform {
		max-width: 650px;
		width: 100%;
		margin: 0 auto;
		box-sizing: border-box;

		background-color: silver;
		

		.field {
			position: relative;
			margin-bottom: 20px;

			&.error input, &.error textarea {
				border: 1px solid @red;
			}

		}

		label {
			display: block;
			margin-bottom: 5px;
		}
		
		textarea, input {
			box-sizing: border-box;
			width: 100%;
			border-radius: 4px;
			border: none;
			border: 1px solid transparent;
		}

		textarea {
			resize: none;
		}

		.errorlist {
			.reset-list;
			
			position: absolute;
			top: calc(100% + 2px);

			font-size: 12px;
			color: @red;
		}

		button {
			display: block;
			background: none;
			border: none;
			max-width: 180px;
			width: 100%;
			margin: 0 auto;
			padding: 15px 20px;
			border-radius: 30px;
			
			background-color: @gray-dark;
			color: white;
		}
	}
}