.showcase {
	.clearfix;

	margin: 50px 0;
	
	background: white url("images/album_background.jpg");

	.slick-arrow {	
	    position: absolute;
	    top: 50%;
	    z-index: 10;
	    border: none;
	    width: 25px;
	    height: 25px;
	    background-color: @gray-dark;
	    border-radius: 50%;
	    text-indent: -4000px;
	}

	.slick-prev {
		left: 1%;
	}

	.slick-next {
		left: 95%;
	}

	img {
		display: block;
		float: left;
		width: 25%;
	}
}