.slideshow {
	background-color: @gray-dark;

	.expansion {
		float: left;
		width: 75%;
		margin-top: 25px;
		margin-bottom: 100px;

		img {
			width: 100%;
		}
	}

	.card {
		float: left;
		width: 25%;

		img {
			width: 100%;
		}
	}

	.slick-arrow {
    position: absolute;
    top: 90%;
    z-index: 10;
    border: none;
    background: none;
    width: 45px;
    height: 45px;
    
    background-color: white;
    border-radius: 50%;
    text-indent: -4000px;
	}

	.slick-prev {
		left: 1%;
	}

	.slick-next {
		left: 95%;
	}

	.slick-dots {
		position: absolute;
		top: 85%;
		left: 50%;
		transform: rotate(270deg);
		border: none;
		background: none;

		button {
			transform: rotate(90deg);
		}
	}
}